[user]
    email = olivier@poupier.net
    name = olivierpoupier
    signingkey = 092BA67C914922B3
[commit]
    gpgsign = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "git@github.com:cybereco/"]
	insteadOf = https://github.com/cybereco/
